html
{
    background-color: #0e1c9c;
}
h1
{
    margin: 0;
    color: #00539F;
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    padding : 20px 0;
}
body
{
    width: 600px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: aqua;
    color: #FF9500;
    border:  5px solid #499619;
    
}
img
{
    display: block;
    margin : 0 auto;
}
.chrome
{
    width: 250px;
    height: 250px;
}